<!DOCTYPE html>
<html>
<head>

	<!--
		{namespace typo3=TYPO3\Neos\ViewHelpers}
		{namespace ts=TYPO3\TypoScript\ViewHelpers}
	-->
	<f:base/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<f:section name="stylesheets">
		<link href="../../../Public/Stylesheets/normalize.css" rel="stylesheet" type="text/css">
		<link href="../../../Public/Stylesheets/styles.css" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	</f:section>

	<f:section name="scripts">
		<!-- put your scripts inclusions here, they will be included in your website by TypoScript -->
	</f:section>
	
</head>
<body>
<f:section name="body">
	<div class="moodimage">
		<nav><ts:render path="parts.menu" /></nav>
		<div class="bannertext">
			<img class="logo" alt="Logo" src="{f:uri.resource(path: 'Images/logo.svg', package:'Michaelsen.HusumTraegt')}" />
			<h2>Trageberatung Husum</h2>
			<p>Ich helfe Ihnen dabei Ihr Baby oder Kind zu tragen. Morbi condimentum, ligula quis cursus cursus, nibh nisl venenatis magna, sit amet aliquam turpis ligula nec elit.</p>
		</div>
		<img src="{f:uri.resource(path:'Images/keyvisual.jpg', package:'Michaelsen.HusumTraegt')}" />
	</div>
	<div class="maincontent"><ts:render path="content.main" /></div>
</f:section>
</body>
</html>
