<!DOCTYPE html>
<html>
<head>

	<!--
		{namespace typo3=TYPO3\Neos\ViewHelpers}
		{namespace ts=TYPO3\TypoScript\ViewHelpers}
	-->
	<f:base/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<f:section name="stylesheets">
		<link href="../../../Public/Stylesheets/normalize.css" rel="stylesheet" type="text/css">
		<link href="../../../Public/Stylesheets/styles.css" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	</f:section>

	<f:section name="scripts">
		<!-- put your scripts inclusions here, they will be included in your website by TypoScript -->
	</f:section>
	
</head>
<body>
<f:section name="body">
	<h1>A freshly created template for your new site!</h1>
	<nav class="menu"><ts:render path="parts.menu" /></nav>
	<nav class="breadcrumb"><ts:render path="parts.breadcrumb" /></nav>
	<div class="content"><ts:render path="content.main" /></div>
</f:section>
</body>
</html>
